
html, body {
  height: 100%;
  margin: 0;
}
.content {
  padding: 20px;
  min-height: 100%;
  margin: 0 auto -50px;
}
.footer,
.push {
  height: 50px;
}


h1 {font-family: sans-serif; text-align: center; }

h2 {font-family: sans-serif; text-align: center; color: #DAA520; }

p {padding: 0px 20px; font-family: Helvetica sans-serif; font-size: 20px; color: white;}


#placeholder {height: 480px; width: 100%; max-width: 600px; overflow: scroll; background-color: white; position: absolute;  left: 0;  right: 0;  margin-left: auto;  margin-right: auto; display: block; }
#area1 {visibility: hidden;  height: 480px; width: 100%;  width: 100%; max-width: 600px; overflow: scroll; background-color: #000080; position: absolute;  left: 0;  right: 0;  margin-left: auto;  margin-right: auto; display: block;   }
#area2 {visibility: hidden; height: 480px; width: 100%; width: 100%;  max-width: 600px; overflow: scroll; background-color: #079f47; position: absolute;  left: 0;  right: 0;  margin-left: auto;  margin-right: auto; display: block;  }




/* Page Wrap for Section Positioning */







.dropdown {
   overflow: hidden;
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 300px;
    margin-left: auto;
   margin-right: auto;
   display: block;
   text-align: center;
}

.dropdown select {
   background: transparent;
   border: none;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
    border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 280px;
   margin-left: auto;
   margin-right: auto;
   display: block;
   text-align: center;
}

.dropdown {
   background: url(https://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 300px;
}

button {
    display: block;
    background-color: #062F4F;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 7px auto;
    cursor: pointer;
    
}

input[type=text], input[type=number] {
    width: 175px;
    padding: 12px 20px;
    margin: 8px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


label {
    width: 275px;
    margin: 0px auto 0px auto;
    display: block;
    text-align: center;
}

.labelcaption {
    font-style: italic;
    color: white;
    font-size: 15px; }



/* Footer */



footer {
    text-align: center;
    font-style: italic;
    background-color: #ADD8E6;
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 8px 0px 0px 0px;

    }
    

    
